body {
  padding: 2rem;
  height: 100vh;
  background-color: $color-bg;
  font-family: $font-main;
}
.list__box {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 80px;
    width: 600px;
    height: 50%;
    margin-bottom: 100px;
    
}
.list__box1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 80px;
  
}

.list__box2 {
  margin-right: 80px;
  width: 600px;
  height: 50%;
  margin-bottom: 100px;
}

.card__img {
  width: 100px;
  height: 100px;
  border-radius: 10px
}