@import 'core/variables';
@import 'core/reset';
@import 'components/code';
@import 'components/links';
@import 'layout/page';
@import 'layout/header';
@import 'layout/search';
@import 'layout/list';
@import 'layout/favList';
@import 'layout/footer';
@import 'pages/index';

.list {
    display: flex;
    flex-direction: row-reverse;
    padding: 10px;
}